.login-form {
  margin-top: 30px;
}

form {
  margin: 15px 0;
}

form > * {
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  border-radius: 0 0 4px 4px;
}

mat-toolbar {
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
