<mat-card class="card-wrapper center">
  <mat-card-title>Let's start a workout!</mat-card-title>
  <mat-card-content>
    <div
      class="exercises"
      *ngFor="let exercise of exercises$ | async"
      fxLayout="column"
      fxFlex
      fxLayoutAlign="center center"
    >
      <button
        mat-fab
        type="button"
        color="primary"
        (click)="startTraining(exercise)"
      >
        <img
          class="icon"
          [src]="'../../../assets/img/' + exercise.iconName + '.png'"
        />
      </button>
      <span>{{ exercise.name }}</span>
    </div>
  </mat-card-content>
</mat-card>
