mat-card-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.exercises {
  margin: 0.8rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72px;
  min-height: 115px;
}

.exercises span {
  margin-top: 10px;
  line-height: 16px;
  display: block;
  word-break: break-word;
}

.icon {
  width: 40px;
  height: 40px;
}

.custom {
  border: 2px solid #f5f5f5;
}

.mat-fab {
  width: 72px;
  height: 72px;
}

.customWorkout {
  margin-top: 30px;

  .action_btns {
    position: absolute;
    bottom: -35px;
    width: 100%;
    margin: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    & > a {
      display: inline-block;
      background: #c2175b;
      border-radius: 50%;
      margin: 0 5px;
    }

    .mat-icon {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      height: 30px;
      width: 30px;
      position: relative;
      top: 7px;
    }
  }

  &:hover {
    .action_btns {
      display: flex;
    }
  }

  .mat-fab:focus {
    & + span .action_btns {
      display: flex;
    }
  }
}

@media only screen and (max-width: 767px) {
  mat-card-content {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .customWorkout mat-card-content {
    justify-content: center;
  }

  .exercises {
    margin: 0.5rem !important;
  }

  .mobile_scroll {
    overflow-y: hidden;
  }

  .customWorkout {
    .action_btns {
      display: flex;
    }
  }
}
