<mat-card class="center">
  <div>
    <mat-card-title>Let's start a workout!</mat-card-title>
    <div class="mobile_scroll">
      <mat-card-content>
        <div class="exercises" *ngFor="let exercise of exercises$ | async">
          <button mat-fab type="button" color="primary" (click)="startTraining(exercise)">
            <svg class="icon">
              <use [attr.href]="'../../../assets/img/sprite.svg#' + exercise.iconName"></use>
            </svg>
          </button>
          <span class="relative">{{ exercise.name }} </span>
        </div>
      </mat-card-content>
    </div>
  </div>

  <div class="customWorkout">
    <mat-card-title>Custom Workouts!</mat-card-title>
    <div class="mobile_scroll">
      <mat-card-content>
        <div class="exercises" *ngFor="let exercise of customExercise$ | async">
          <button mat-fab type="button" color="primary" class="custom" (click)="startTraining(exercise)">
            <svg *ngIf="exercise.iconName" class="icon">
              <use [attr.href]="'../../../assets/img/sprite.svg#' + exercise.iconName"></use>
            </svg>
          </button>
          <span class="relative"
            >{{ exercise.name }}
            <span class="action_btns">
              <a title="Edit {{ exercise.name }}" href="javascript:;" (click)="edit(exercise)"
                ><mat-icon>edit</mat-icon></a
              >
              <a title="Delete {{ exercise.name }}" href="javascript:;" (click)="delete(exercise)"
                ><mat-icon>delete</mat-icon></a
              >
            </span>
          </span>
        </div>
        <div class="exercises">
          <button class="custom" mat-fab type="button" color="primary" (click)="createExercise()">
            <mat-icon>add</mat-icon>
          </button>
          <span>Custom Workout</span>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
