<div class="logo"><a class="brand-logo" routerLink="/">Fitness Tracker</a></div>
<mat-nav-list class="sidenav-navlist">
  <a mat-list-item routerLink="/" (click)="onCloseSideNav()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a
    *ngIf="!(this.authService.isAuth$ | async)"
    mat-list-item
    routerLink="/signup"
    (click)="onCloseSideNav()"
  >
    <mat-icon>face</mat-icon>
    <span>Signup</span>
  </a>
  <a
    *ngIf="!(this.authService.isAuth$ | async)"
    mat-list-item
    routerLink="/login"
    (click)="onCloseSideNav()"
  >
    <mat-icon>person</mat-icon>
    <span>Login</span>
  </a>
  <a
    *ngIf="this.authService.isAuth$ | async"
    mat-list-item
    routerLink="/training"
    (click)="onCloseSideNav()"
  >
    <mat-icon>fitness_center</mat-icon>
    <span>Training</span>
  </a>
  <a
    *ngIf="this.authService.isAuth$ | async"
    mat-list-item
    (click)="onLogout()"
  >
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>
