<section>
  <mat-card class="card-wrapper center">
    <mat-card-title>{{
      this.trainingService.getCurrentTrainingName()
    }}</mat-card-title>
    <mat-progress-spinner
      mode="determinate"
      [value]="progress"
    ></mat-progress-spinner>
    <div class="exercise_img">
      <img [src]="this.trainingService.getCurrentTrainingIcon()" />
    </div>
    <h1>{{ progress }}%</h1>
    <p>Keep on going, you can do it!</p>
    <button mat-raised-button color="primary" (click)="onStop()">Stop</button>
  </mat-card>
</section>
