form {
  margin: 15px 0;
}

form > * {
  margin-bottom: 15px;
}

mat-form-field,
mat-checkbox {
  width: 100%;
}

mat-toolbar {
  border-radius: 4px 4px 0 0;
}

mat-card {
  border-radius: 0 0 4px 4px;
}
