<div class="custom_dialog">
  <h1 mat-dialog-title>Create your custom workout</h1>
  <div mat-dialog-content>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="customExercise" (ngSubmit)="onSave()">
      <mat-form-field>
        <mat-label>Workout Name</mat-label>
        <input matInput type="text" name="name" formControlName="name" required />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Duration (in seconds)</mat-label>
        <input matInput type="text" name="duration" formControlName="duration" required />
      </mat-form-field>
      <mat-form-field class="last-child">
        <mat-label>Calories / sec</mat-label>
        <input matInput type="text" name="calories" formControlName="calories" required />
      </mat-form-field>
      <div mat-dialog-actions>
        <button color="accent" mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button
          color="primary"
          type="submit"
          mat-raised-button
          [mat-dialog-close]="true"
          [disabled]="!customExercise.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
