.custom_dialog {
  min-width: 320px;

  form,
  .mat-form-field {
    width: 100%;
  }

  .mat-dialog-content {
    height: 100%;
    max-height: initial;
    overflow: initial;
  }

  mat-form-field {
    margin-bottom: 15px;

    &.last-child {
      margin-bottom: 0;
    }
  }
}

.mat-dialog-actions {
  padding: 0;
  display: block;
  min-height: initial;
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  .custom_dialog {
    min-width: initial;
  }
}
